JsonVisualizerForVisualStudio.2008/bin/Debug/JsonVisualizerForVisualStudio.2008.dll
JsonVisualizerForVisualStudio.2008/bin/Debug/JsonVisualizerForVisualStudio.2008.pdb
JsonVisualizerForVisualStudio.2008/bin/Release/JsonVisualizerForVisualStudio.2008.pdb
JsonVisualizerForVisualStudio.2008/obj/Debug/JsonVisualizerForVisualStudio.2008.csproj.FileListAbsolute.txt
JsonVisualizerForVisualStudio.2008/obj/Release/JsonVisualizerForVisualStudio.2008.csproj.GenerateResource.Cache
*.cache
JsonVisualizerForVisualStudio/obj/Release/JsonVisualizerForVisualStudio.2010.pdb
*.force
JsonVisualizerForVisualStudio/obj/Debug/JsonVisualizerForVisualStudio.2015.pdb
*.suo
JsonVisualizerForVisualStudio/.vs/config/applicationhost.config
*.tf1
JsonVisualizerForVisualStudio/$tf/7/45c84897-7bbf-4944-b88a-efb831c0d5db.gz
JsonVisualizerForVisualStudio.2008/bin/Release/JsonVisualizerForVisualStudio.2008.dll
*.pdb
JsonVisualizerForVisualStudio.2008/obj/Debug/JsonVisualizerForVisualStudio.2008.dll
JsonVisualizerForVisualStudio.2008/obj/Debug/JsonVisualizerForVisualStudio.JsonVisualizerForm.resources
JsonVisualizerForVisualStudio.2008/obj/Release/JsonVisualizerForVisualStudio.2008.dll
JsonVisualizerForVisualStudio.2008/obj/Release/JsonVisualizerForVisualStudio.JsonVisualizerForm.resources
JsonVisualizerForVisualStudio.vssscc
*.gz
JsonVisualizerForVisualStudio/obj/Debug/JsonVisualizerForVisualStudio.2015.dll
JsonVisualizerForVisualStudio/obj/Release/JsonVisualizerForVisualStudio.JsonVisualizerForm.resources
JsonVisualizerForVisualStudio/obj/Debug/JsonVisualizerForVisualStudio.JsonVisualizerForm.resources
JsonVisualizerForVisualStudio/JsonVisualizerForVisualStudio.csproj.vspscc
JsonVisualizerForVisualStudio.2008/obj/Release/JsonVisualizerForVisualStudio.2008.csproj.FileListAbsolute.txt
JsonVisualizerForVisualStudio/obj/Release/JsonVisualizerForVisualStudio.csproj.FileListAbsolute.txt
JsonVisualizerForVisualStudio/obj/Debug/JsonVisualizerForVisualStudio.csproj.FileListAbsolute.txt